:root{
    --navigation-color: rgba(0, 0, 0, 0.2);
    --bs-brown: #582F0E;
    --bs-light-brown: #7f4f24;
    --bs-lighter-brown: #936639;
    --bs-lightest-brown: #A68A64;
    --bs-pale-brown: #B6AD90;
    --bs-white: #C2C5AA;
    --bs-pale-green: #A4AC86;
    --bs-light-green: #656D4A;
    --bs-greyish-green: #414833;
    --bs-dark-green: #333D29;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bs-pale-brown);
    min-height: 100vh;
    overflow-x: hidden;
}

#navigation-bar{
    position: fixed;
    top: 0; left: 0;
    background-color: var(--navigation-color);
    width: 100%; 
    padding-left: 25vh; padding-right: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    transition: 1s;
    height: 9vh;
}

.navigation{
    display: flex;
    align-items: center;
}

.logo{
    margin-right: 5vh;
    color: darkcyan;
    font-size: 3vh;
}

.navigation a{
    text-decoration: none;
    color: black;
    padding: 1vh 2vh;
    border-radius:  10vh;
    margin: 0 1vh;
    transition: 250ms;
    font-size: 2vh;
}

.navigation a:hover{
    background-color: var(--bs-light-green);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    color: white;
}

.navigation a:active{
    opacity: 0.3;
}

.invisible-element{
    width: 5vh; height: 6vh;
    background-color: none;

}


#plot{
    background-color: var(--bs-pale-brown);
    text-align: center;
    text-align: justify;
    width: 100%;
    min-height: 100vh;
    padding-left: 25%; padding-right: 25%;
    padding-top: 24vh;
    scroll-padding-top: 30px;
}

.parallax {
    scroll-snap-align: start;
    background-image: url("../images/background.jpg");
    min-height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading-1{
    text-align: center;
    font-size: 2vh;
    font-weight: 600;
    margin-top: 50px;margin-bottom: 10px;
}

.horizontal-line{
    margin-bottom: 10px;
}

.main-page-paragraph{
    margin-top: 10px;margin-bottom: 10px;
    font-size: 5vh;
}

footer{
    background-color: var(--bs-pale-green);
    text-align: center;
    color: gray;
    padding: 20px;
    font-size: small; 
    margin-top: auto;
}

#tauhan{
    padding-top: 15.5vh;
    text-align: center;
    min-height: fit-content;
    scroll-padding-top: 50px;
    margin-bottom: 10vh; margin-top: 10vh;
    min-height: 100vh;
}

div.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.content-card{
    margin-left: 20px; margin-right: 20px;
    width: 50vh; height: 65vh;
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.4);
}

.content-image{
    object-fit: cover;
    width: 50vh; height: auto;
}

.subtitle{
    margin-top: 2.5vh;
    color: lightslategray;
    font-size: 1.3vh;
}

.content-card > h3{
    font-size: 3vh;
}

#credits-line{
    margin-bottom: 5vh;
    width: 25%;
    margin-left: auto;margin-right: auto;
    border: 1px solid black;
}

.padding{
    background-color: var(--bs-white);
    margin-top: 5vh;
    width: 100%;
    height: 40vh;
}

#between{
    background-color: var(--bs-white);
}

.tauhan > h3{
    margin-top: 1vh;
    font-size: 9vh;
}

hr{
    border: 1px solid black;
}

.read{
    margin-top: 9%;margin-bottom: 10vh;
    text-align: center;
    padding-top: 16vh;
}

h4{
    margin-bottom: 10px;
    font-size: larger;
    font-weight: lighter;
}

.read-button{
    background-color: white;
    text-decoration: none;
    border: none;
    padding: 6px 15px;
    border-radius:  20px;
    margin: 0 10px;
    background-color: darkcyan;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    color: white
}

.read-button:hover{
    opacity: 0.9;

}

.read-button:active{
    opacity: 0.4;
}