*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: white;
}

#text{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    opacity: 1;
}
.parallax{
    position: relative;
    min-height: 200vh;
    overflow-y: hidden;
}

#red-box{
    position: absolute;
    width: 20vw;
    height: 100vh;
    background-color: red;
    top: 0;
    left: 0;
}

#green-box{
    position: absolute;
    width: 20vw;
    height: 100vh;
    background-color: green;
    top: 0;
    right: 0;
}

#text{
    z-index: -1;
    position: absolute;
    font-size: 5em;
}
.main{
    background-color: lightseagreen;
    height: 100vh;
    color: white;
    text-align: center;
    padding-top: 10vh;
}

.main-header{
    margin-bottom: 10px;
}